body{
    background-color:#C9EEFF; 
}

/*********** TAG SELECTORS *************/

hr{
    background-color:none;
    height:0px;
    width:5%;
    border-style:dotted none none;
    border-width:5px;
    border-color:grey;  
}

img{
    height:200px;
    border-style: inset;
    border-color:grey;
}

h1{
    color: #3A8891;
}

/*********** pseudo CLASS SELECTORS *************/
img:hover {
background-color: gold;
}

/*********** ID SELECTORS *************/

#dp{
    background-color: #0E8388;
}