body{
    background-color:blue; 
}

hr{
    background-color:none;
    height:0px;
    width:5%;
    border-style:dotted none none;
    border-width:5px;
    border-color:grey;
   
}

img{
    height:200px;
    border-style: inset;
    border-color:grey;
}

h1{
    color: #3A8891;
}